version = 1

test_patterns = ["tests/**"]

exclude_patterns = ["docs/**", "nbs/**"]

[[analyzers]]
name = "python"
enabled = true

  [analyzers.meta]
  runtime_version = "3.x.x"
  max_line_length = 120

[[transformers]]
name = "black"
enabled = true
