repository: "aniketmaurya/chitra"
output: web
topnav_title: "chitra"
site_title: "chitra"
company_name: "Aniket Maurya"
description: "Deep Learning Computer Vision library for easy data loading, model building and interpretation"
# Set to false to disable KaTeX math
use_math: true
# Add Google analytics id if you have one and want to use it here
google_analytics:
# See http://nbdev.fast.ai/search for help with adding Search
google_search: 350c3ff2aa64c8a64

host: 127.0.0.1
# the preview server used. Leave as is.
port: 4000
# the port where the preview is rendered.

exclude:
  - .idea/
  - .gitignore
  - vendor
 
exclude: [vendor]

highlighter: rouge
markdown: kramdown
kramdown:
 input: GFM
 auto_ids: true
 hard_wrap: false
 syntax_highlighter: rouge

collections:
  tooltips:
    output: false

defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
      comments: true
      search: true
      sidebar: home_sidebar
      topnav: topnav
  -
    scope:
      path: ""
      type: "tooltips"
    values:
      layout: "page"
      comments: true
      search: true
      tooltip: true

sidebars: [home_sidebar]
permalink: pretty

# Github and twitter are optional:
minima:
  social_links:
    twitter: aniketmaurya
    github: aniketmaurya

# theme: jekyll-theme-cayman
# url: "http://chitra.aniketmaurya.ml" # the base hostname & protocol for your site, e.g. http://example.com

baseurl: /